@import "@fontsource/barlow-semi-condensed/600.css";
@import "@fontsource/barlow-semi-condensed/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "choice";
@import "bonus";


html {
  background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
}
body {
  font-family: "Barlow Semi Condensed";
  overflow-x: hidden;
  padding-bottom: 80px;
}
.win-gradient {
  background: radial-gradient(circle at center,
          #2B3857 25%, #3e4b6b 45%,
          #2d3f5d 45%, #314264 60%,
          #233452 60%, #233452 100%
  );
}

/*

- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)


*/